.bg-dark {
	background: #141d2f;
}

.bg-light {
	background: #f6f8ff;
}

.text-light,
.text-light::placeholder {
	color: #4b6a9b;
}

.text-dark,
.text-dark::placeholder {
	color: #ffffff;
}

.text-bold-light {
	color: #2b3442;
}

.text-bold-dark {
	color: #ffffff;
}

.bg-component-light {
	background: #fefefe;
}

.bg-component-dark {
	background: #1e2a47;
}

.user__links--icon--light {
	fill: #4b6a9b;
}

.user__links--icon--dark {
	fill: #ffffff;
}

.user__links--icon--off {
	fill: #8e94a3;
}

.bg-shadow-light {
	box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.bg-shadow-dark {
	box-shadow: none;
}
