:root {
	--font-space: "Space Mono", monospace;
	--dodger-blue: #0079ff;
	--button-hover-blue: #60abff;

	--light-slate-grey: #696c9a;
	--light-steel-blue: #4b6a9b;
	--light-dark-slate-grey: #2b3442;
	--light-ghost-white: #f6f8ff;
	--light-snow-white: #fefefe;

	--dark-slate-black: #141d2f;
	--dark-slate-gray: #1e2a47;
}
