.App {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-ghost-white);
}

.app__container {
	width: 375px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 31px;
	padding-bottom: 24px;

	@media screen and (min-width: 600px) {
		width: 573px;
	}

	@media screen and (min-width: 768px) {
		width: 730px;
	}
}
