.search {
	height: 60px;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	padding-right: 7px;
	border-radius: 15px;
	margin-bottom: 16px;

	.search__container {
		display: flex;
		width: 100%;

		.search--icon {
			height: 20px;
			width: 20px;
			margin-right: 10px;
		}

		.search--input {
			outline: none;
			border: none;
			width: 100%;
			background-color: inherit;
		}

		.search--input,
		.search--input::placeholder {
			font-size: 13px;
			font-weight: 400px;
			font-family: var(--font-space);
		}
	}

	.search--error {
		position: absolute;
		right: 100px;
		color: red;
		font-size: 12px;
	}

	.search--button {
		cursor: pointer;
		border: none;
		border-radius: 10px;
		background-color: var(--bg-button);
		color: white;
		font-family: var(--font-space);
		font-size: 14px;
		font-weight: 700;
		padding-top: 12.5px;
		padding-bottom: 12.5px;
		padding-left: 18px;
		padding-right: 14px;
	}
	.search--button:hover {
		background-color: var(--bg-button-hover);
	}
}
