.user {
	position: relative;
	padding-top: 32px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	border-radius: 15px;

	@media screen and (min-width: 768px) {
		.user__container {
			margin-left: 202px;
		}
	}

	.user__header {
		display: flex;
		margin-bottom: 33px;

		.user__header--avatar {
			height: 70px;
			width: 70px;
			border-radius: 9999px;
			margin-right: 19px;

			@media screen and (min-width: 600px) {
				height: 117px;
				width: 117px;
			}

			@media screen and (min-width: 768px) {
				position: absolute;
				left: 48px;
				top: 48px;
			}
		}

		.user__header__col {
			.user__header--username {
				font-weight: 700;
				font-size: 16px;

				@media screen and (min-width: 600px) {
					font-size: 26px;
				}
			}
			.user__header--link {
				font-size: 13px;
				color: var(--bg-button);
				margin-bottom: 6px;

				@media screen and (min-width: 600px) {
					font-size: 16px;
				}
			}
			.user__header--admissiondate {
				font-size: 13px;

				@media screen and (min-width: 600px) {
					font-size: 15px;
				}
			}
		}
	}

	.user--description {
		font-size: 13px;
		line-height: 25px;
		margin-bottom: 23px;

		@media screen and (min-width: 600px) {
			font-size: 15px;
		}
	}

	.user__info {
		display: flex;
		justify-content: space-around;
		padding-top: 18px;
		padding-bottom: 19px;
		padding-right: 14px;
		padding-left: 15px;
		border-radius: 10px;
		margin-bottom: 30px;

		.user__info__col {
			text-align: center;
			width: 89px;

			.user__info--label {
				font-size: 11px;
				font-weight: 400;
				margin-bottom: 8px;

				@media screen and (min-width: 600px) {
					font-size: 13px;
				}
			}
			.user__info--datanumber {
				font-size: 16px;
				font-weight: 700;

				@media screen and (min-width: 600px) {
					font-size: 22px;
				}
			}

			@media screen and (min-width: 600px) {
				text-align: left;
			}
		}
	}
	.user__links {
		display: grid;
		grid-template-columns: 1fr;
		.user__links__row {
			display: grid;
			grid-template-columns: 1fr 7fr;
			margin-bottom: 17px;
			overflow: hidden;
			.user--link,
			.user--link--nounderline,
			.user--link--noavailable {
				font-size: 13px;
				@media screen and (min-width: 600px) {
					font-size: 15px;
				}
			}
			.user--link--noavailable {
				color: #8e94a3;
			}
			.user--link {
				text-decoration-line: none;
			}
			.user--link:hover {
				text-decoration-line: underline;
			}
		}
		@media screen and (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
